In [1]:
# Import Libraries
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Load Data
trends = pd.read_csv('data/ai_tools_comparison.csv')
trends.head()

         week  chatgpt  gemini  microsoft_copilot
0  2023-08-27       56       3                  1
1  2023-09-03       56       3                  1
2  2023-09-10       63       3                  1
3  2023-09-17       64       3                  1
4  2023-09-24       66       3                  1